body{
  background-color: rgb(168, 105, 227);

}
.App{
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;

}
#to-do-list input{
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-list input::placeholder{
  color: rgb(255, 255, 255,0.5);
}
#to-do-list button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}